*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/core/src/main/java/com/jsontextfield/core/network/SupabaseKey.kt
/.kotlin/
/composeApp/src/androidDebug/res/values/google_maps_api.xml
